.Soundarray {
    border-style: solid;
    border-color: #1d222b;
    
    border-left-width: 1px;
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    margin-left: -60px;
    /* z-index: -1; */
}
.Soundarray-list-item-heading{
    display: flex;
    align-items: center;
    justify-content: space-around   ;
}
.Soundarray-list{
    display: flex;
    flex-direction: row;
}
.Soundarray-list-item{
    width: 200px;
    margin: 30px;
    margin-left: 50px;
}

.Soundarray-list-item button img{
    border-radius: 10px;
}
#noise-item{
    border-width: 4px;
    border-color: aliceblue;
    border-radius: 40px;
}